services:
  hardware-security-controller:
    image: piandarduinoguy/hardware-security-controller
    privileged: true
    environment:
      SECURITY_MICRO_SERVICE_HOST_IP: 192.168.3.153
      SECURITY_MICRO_SERVICE_HOST_PORT: 8082
      PASSWORD: 159
      LOGGING_FILE_DIRECTORY: /logs
    networks:
      - security-network
  alerter:
    image: piandarduinoguy/alerter
    privileged: true
    environment:
      ALERTER_LOGGING_FILE_DIRECTORY: /logs
      ALERTER_RABBITMQ_HOST: rabbitmq
      ALERTER_SECURITY_CONFIG_QUEUE_NAME: alerter.security.config
      ALERTER_EXCHANGE_NAME: fanout_exchange
    networks:
      - security-network
networks:
  security-network:
    driver: overlay
    name: security-network
    external: true